
.body-text {
    margin-left: 60px;
    padding: 2em;
}

.body-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search {
    width: 50%;
}

.search input {
    width: 100%;
    padding: 12px 24px;

    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #212121;
    background-color: #EFFFFB;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 0px solid;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search input::placeholder {
    color: color(#212121 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search input:hover, .search input:focus {
    padding: 12px 12px;
    outline: 0;
    border: 0px solid;
    border-bottom: 0px solid;
    border-radius: 0;
    background-position: 95% center;
}

.search input[type=search]::-ms-clear,
.search input[type=search]::-ms-reveal {  
    display: none; width : 0; height: 0; 
}

.search input[type="search"]::-webkit-search-decoration,
.search input[type="search"]::-webkit-search-cancel-button,
.search input[type="search"]::-webkit-search-results-button,
.search input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}


.card-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 1em;
}


.card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f00;
    transition: 0.7s;
    z-index: 1;
}

.card:nth-child(3n+1) .icon {
    background-color: #e07768;
}

.card:nth-child(3n+2) .icon {
    background-color: #6eadd4;
}

.card:nth-child(3n+3) .icon {
    background-color: #4aada9;
}


.card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -100%);
    font-size: 80px;
    transition: 0.7s;
    color: #EFFFFB;
}

.card i {
    position: absolute;
    font-size: 80px;
    transition: 0.7s;
    color: #EFFFFB;
}

.card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.card:hover .face.face1 .content {
    opacity: 1;
}

.card .face.face1 .content i{
    max-width: 100px;
}

.card .face.face2 {
    position: relative;
    background: #EFFFFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2{
    transform: translateY(0);
}

.card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #EFFFFB;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.card a {
    text-decoration: none;
    color: #414141;
}

.face.face2 .cancel-buttom {
    transition: 0.7s;
    color: #212121;
}

.face.face2 .cancel-buttom button {
    top: 10%;
    left: 85%;
    background-color: #EFFFFB;
    border: none;
    text-align: center;
    font-size: 30px;
}

.modal {
    background-color: #212121;
}

.modal-password {
    width: 50vw;
    height: 50vh;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
