.edit-buttom {
    bottom: -0.2em;
    right: 0.6em;
    transition: 0.7s;
    color: #212121;
}

.edit-buttom button {
    background-color: #EFFFFB;
    border: none;
    text-align: center;
    font-size: 30px;
    cursor:pointer;
}

.modal {
    display: flex;
    justify-content: center;
}

.conteinerEdit {
    background-color: #212121;
    border:none;
    border-radius: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.7);
}

.containerForm {
    padding: 1em;
}