.edit-buttom {
    bottom: -0.2em;
    right: 0.6em;
    transition: 0.7s;
    color: #212121;
}

.edit-buttom button {
    background-color: #EFFFFB;
    border: none;
    text-align: center;
    font-size: 30px;
    cursor:pointer;
}

.modal {
    display: flex;
    justify-content: center;
}

.conteinerEdit {
    background-color: #212121;
    border:none;
    border-radius: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.7);
}

.containerForm {
    padding: 1em;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.err-edit {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.no-err {
    background-color: rgb(39, 190, 183);
    color: rgb(64, 36, 128);
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}