.edit-buttom {
    bottom: -0.2em;
    right: 0.6em;
    transition: 0.7s;
    color: #212121;
}

.edit-buttom button {
    background-color: #EFFFFB;
    border: none;
    text-align: center;
    font-size: 30px;
    cursor:pointer;
}

.modal {
    background-color: #212121;
}