*{
    box-sizing: border-box;
}

.containerb{
       padding: 10px;
}

.conteinerAddConteiner {
    display: flex;
    justify-content: center;
}

.containerAdd
{ 
    background-color: #212121;
    border:none solid rgb(221, 218, 218);
    border-radius: 15px;
}

form {
    padding: 0% 10%;
}

form div {
    padding: 0.4rem 10%;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
select,
textarea{ 
    width: 100%;
    border: 5px;
    border-radius: 8px;
    margin: 3px;

}
header{
    
    text-align: center;
    background-color: #1b1b;
    border: none;
    border-radius: 15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding: 9px 7px;
}
input[type="submit"],
input[type="reset"]{
    
    background-color: #1b1b;
    border: 1px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: aliceblue;
    padding: 12px 15px;
    border-radius: 5px;
    cursor:pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color: rgb(17, 187, 17);
}
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
select:hover,
textarea:hover{
    background-color: rgb(244, 241, 218);
}