.view-buttom {
    bottom: -0.2em;
    right: 1.1em;
    transition: 0.7s;
    color: #212121;
}

.view-buttom button {
    background-color: #EFFFFB;
    border: none;
    text-align: center;
    font-size: 30px;
    cursor:pointer;
}

.modal-password {
    margin-left: 60px;
    display: flex;
}

.conteinerView {
    background-color: #212121;
    border:none;
    border-radius: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.7);
}

.containerPassBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.containerContent {
    float: right;
    width: 50%;
    padding: 1em;
    display: table;
}

.cointainerForm {
    float: left;
    width: 50%;
}


.containerContent div {
    display: table-row;
}

.containerContent div .col {
    display: table-cell;
    padding: 12px;
}