.view-buttom {
    bottom: -0.2em;
    right: 1.1em;
    transition: 0.7s;
    color: #212121;
}

.view-buttom button {
    background-color: #EFFFFB;
    border: none;
    text-align: center;
    font-size: 30px;
    cursor:pointer;
}

.modal-password {
    width: 50vw;
    height: 50vh;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}